<div class="row" name="item-1">
    <div class="col" name="scno">
        #1
    </div>
    <div class="col" name="all-other-cols">
        <div class="row" name="item-details">
            <div class="col" name="duration">10</div>
            <div class="col" name="rate">$15.00</div>
            <div class="col" name="total">$150.00</div>
        </div>
        <div class="row" name="all-expenses">
            <div class="row" name="expense-1">
                <div class="col" name="expense-type">
                    <select name="expense-category">
                        <option value="travel">Travel</option>
                        <option value="meals">Meals</option>
                        <option value="supplies">Supplies</option>
                    </select>
                </div>
                <div class="col" name="expense-description">enter your description here</div>
                <div class="col" name="expense-amount">$30.00</div>
            </div>
            <div class="row" name="expense-2">
                <div class="col" name="expense-type">
                    <select name="expense-category">
                        <option value="travel">Travel</option>
                        <option value="meals">Meals</option>
                        <option value="supplies">Supplies</option>
                    </select>
                </div>
                <div class="col" name="expense-description">Taxi fare</div>
                <div class="col" name="expense-amount">$30.00</div>
            </div>
        </div>
    </div>
</div>